<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Draw!</title>
  <style>
    #canvas {
      border-width: 3px;
      border-color: black;
      border-style: solid;
    }
    
    .button {
      display: inline-block;
      background-color: lightgrey;
    }
  </style>

</head>

<body>
  <canvas id="canvas" width="420" height="420"></canvas>
  <br/>
  <div id="classifyButton" class="button">Classify</div>
  <div id="clearButton" class="button">Clear</div>
  <span id="answerBox"></span>
  <script>
    canvas = document.getElementById('canvas');
    ctx = canvas.getContext('2d');
    drawing = false;
    var x = 0;
    var y = 0;

    function startDrawing(e) {
      drawing = true;
      x = e.offsetX;
      y = e.offsetY;
    }

    function draw(e) {
      if (drawing) {
        drawLine(ctx, x, y, e.offsetX, e.offsetY);
        x = e.offsetX;
        y = e.offsetY;
      }
    }

    function stopDrawing(e) {
      drawLine(ctx, x, y, e.offsetX, e.offsetY);
      drawing = false;
    }

    function drawLine(context, x1, y1, x2, y2) {
      context.beginPath();
      context.strokeStyle = 'black';
      context.lineWidth = 25;
      context.lineCap = 'round';
      context.moveTo(x1, y1);
      context.lineTo(x2, y2);
      context.stroke();
      context.closePath();
    }

    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', stopDrawing);

    classifyButton = document.getElementById('classifyButton');
    answer = document.getElementById('answerBox');

    function sendXHR(e) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://127.0.0.1:5000/classify', true);

      xhr.onload = function () {
        answer.innerHTML = xhr.response;
      };

      testData = [];
      var imageData = ctx.getImageData(0, 0, 420, 420);
      step = 4 * 420 / 28

      var index;
      for (let i = 0; i < 28; i ++) {
        for (let j = 0; j < 28; j ++) {
          index = (j * step) + (i * step * step * 28 / 4) + 3;
          testData.push(imageData.data[index])
        }
      }
      xhr.send(JSON.stringify(testData));
    }

    classifyButton.addEventListener('click', sendXHR);

    clearButton = document.getElementById('clearButton');

    function clearCanvas() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      answer.innerHTML = "";
    }
    
    clearButton.addEventListener('click', clearCanvas)
    

  </script>
</body>
</html>