<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Draw!</title>
  <style>
    #canvas {
      border-width: 3px;
      border-color: black;
      border-style: solid;
    }
    
    .button {
      display: inline-block;
      background-color: lightgrey;
    }

    .active {
      background-color: forestgreen;
    }
  </style>

</head>

<body>
  <canvas id="canvas" width="420" height="420"></canvas>
  <br/>
  <div id="classifyButton" class="button">Classify</div>
  <div id="clearButton" class="button">Clear</div>
  <br/>
  <input type="number" id="label" name="label"
       min="0" max="10">
  <div id="submit" class="button">Submit mode</div>
  <span id="answerBox"></span>
  <script type="text/javascript" src="{{ url_for('static', filename='draw.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='classify.js') }}"></script>
</body>
</html>